<!doctype html>
<html lang="pt">

<head>
	<title>Viagens</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../public/assets/css/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>
	<!-- Header -->
	<section id="header">
		<header class="major">
			<h1>AS<br/>MINHAS<br/>VIAGENS</h1>
		</header>
		<div class="container">
			<ul class="actions">
				<h2><span class="fa fa-lock"></span>Authentication</h2>
				<p>Login or Register with:</p>
				<a href="../config/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
			</ul>
		</div>
	</section>
	<!-- Scripts -->
	<script src="../public/assets/js/jquery.min.js"></script>
	<script src="../public/assets/js/jquery.scrollex.min.js"></script>
	<script src="../public/assets/js/jquery.scrolly.min.js"></script>
	<script src="../public/assets/js/skel.min.js"></script>
	<script src="../public/assets/js/util.js"></script>
	<script src="../public/assets/js/main.js"></script>
</body>

</html>